{% extends 'base.html.twig' %}

{% block body %}
    <main class="container mt-4">
        <div class="row mt-4 d-flex justify-content-between" id="livresContainer">
            {% for livre in livres %}
                <div class="col-md-3 {% if loop.index > 4 %}hidden{% endif %}">
                    <img src="{{ asset('imgs/' ~ livre.image) }}" alt="{{ livre.nomLivre }}" class="img-fluid rounded" style="width: 100%; height: 200px;">
                    <p>{{ livre.nomLivre }}</p>
                </div>
            {% endfor %}
        </div>

        {% if livres|length > 4 %}
            <div class="col-md-3">
                <!-- Bouton pour afficher les autres livres -->
                <a href="#" class="btn btn-primary" id="showMoreBtn">Voir plus de livres</a>
            </div>
        {% endif %}
    </main>

    <footer class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Informations de pied de page</h4>
                    <p>Insérer vos informations de pied de page ici...</p>
                </div>
                <div class="col-md-6">
                    <h4>Contactez-nous</h4>
                    <p>Insérer vos coordonnées de contact ici...</p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        window.addEventListener('load', () => {
            const livreContainer = document.getElementById("livresContainer");
            for (let i = 4; i < livreContainer.children.length; i++) {
                livreContainer.children[i].classList.add('hidden-element');
            }
        });
        
        document.getElementById('showMoreBtn').addEventListener('click', function() {
            const livreContainer = document.getElementById("livresContainer");
            for (let i = 4; i < livreContainer.children.length; i++) {
                livreContainer.children[i].classList.remove('hidden-element');
            }
            this.style.display = 'none'; // Masquer le bouton après avoir affiché tous les livres
        });
    </script>
{% endblock %}
