{# templates/emprunt_livre/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier un emprunt de livre{% endblock %}

{% block body %}
    <h1>Modifier un emprunt de livre</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}

    <a href="{{ path('emprunt_livre_index') }}">Retour à la liste</a>
{% endblock %}
