{# templates/etudiant/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Ajouter un étudiant{% endblock %}

{% block body %}
    <h1>Ajouter un étudiant</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}

    <a href="{{ path('etudiant_index') }}">Retour à la liste</a>
{% endblock %}
